<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Biblioteca📚</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/TP09.styles.css" asp-append-version="true" />
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow mb-3 colornav">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class = "Logo" src = "/img/Logo.png" width = 50rem></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item"> 
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item"> 
                                <a class="nav-link text-dark" asp-area="" asp-action="Privacy">Sobre nosotras</a>
                            </li>
                            <li class="nav-item dropdown">
                                @if (BD.UsuarioLogueado==null)
                                {
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CrearCuenta">Iniciar Sesión</a>
                                } 
                                else
                                {
                                    <div class="mover">
                                        <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @if(BD.NombraImagen() == null)
                                        {
                                            <img src="/img/iconochico.png">
                                        }
                                        else
                                        {
                                            //<img src="/img/@BD.NombraImagen()" style="width:50px;" class="rounded-circle">
                                            <img src="/img/@BD.NombraImagen()" style="width:50px;" class="rounded-circle">
                                        } 
                                        </a>
                                        <div class="dropdown-menu mover" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Perfil">Perfil</a>
                                            <a class="nav-link text-dark" href='@Url.Action("ModificarUsuario","Home",new {Id=BD.UsuarioLogueado.IdUsuario})'>Modificar Pefil</a>
                                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CerrarSesión">Cerrar Sesión</a>
                                        </div>
                                    </div>
                                }      
    
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    <div class="container" style="padding-bottom:120px;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted responsiveSiteFooter fondo">
        <div class="responsiveSiteFooter__contents gr-container-fluid">
            <div class="gr-row">
                <div class="gr-col gr-col-md-3 gr-col-lg-6">
                    <div class="gr-row">
                        <div class="col-6">
                            <h5 class="responsiveSiteFooter__heading">Company</h5>
                                <ul class="responsiveSiteFooter__linkList puo">
                                    <li class="responsiveSiteFooter__linkListItem">
                                        <a class="responsiveSiteFooter__link" href="/Home/Privacy">About us</a>
                                    </li>
                                </ul>
                        </div>
                        <div class="col-6">
                            <h5 class="responsiveSiteFooter__heading">Connect</h5>
                            <div class="responsiveSiteFooter__socialLinkWrapper">
                                <a class="responsiveSiteFooter__socialLink hjgjuf" href="https://www.facebook.com/">
                                    <img alt="Facebook" src="https://s.gr-assets.com/assets/site_footer/footer_facebook-ea4ab848f8e86c5f5c98311bc9495a1b.svg">
                                </a>
                                <a class="responsiveSiteFooter__socialLink hjgjuf" href="https://twitter.com/">
                                    <img alt="Twitter" src="https://s.gr-assets.com/assets/site_footer/footer_twitter-126b3ee80481a763f7fccb06ca03053c.svg">
                                </a>
                            </div>
                            <div class="responsiveSiteFooter__socialLinkWrapper">
                                <a class="responsiveSiteFooter__socialLink hjgjuf" href="https://www.instagram.com/">
                                    <img alt="Instagram" src="https://s.gr-assets.com/assets/site_footer/footer_instagram-d59e3887020f12bcdb12e6c539579d85.svg">
                                </a>
                                <a class="responsiveSiteFooter__socialLink hjgjuf" href="https://www.linkedin.com/">
                                    <img alt="LinkedIn" src="https://s.gr-assets.com/assets/site_footer/footer_linkedin-5b820f4703eff965672594ef4d10e33c.svg">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>    
            
            <div>
                <ul class="responsiveSiteFooter__linkList">
                    <li class="responsiveSiteFooter__linkListItem">© 2022 tu Biblioteca, Inc.</li>
                </ul>
            </div>
            </div>
        </div>
    </footer>
    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"
        ></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>