USE [master]
GO
/** Object:  Database [Qatar2022]    Script Date: 27/10/2022 08:43:48 **/
CREATE DATABASE [Qatar2022]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Qatar2022', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Qatar2022.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Qatar2022_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Qatar2022_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Qatar2022].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Qatar2022]
GO
/** Object:  User [alumno]    Script Date: 27/10/2022 08:43:48 **/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/** Object:  Table [dbo].[Biblioteca]    Script Date: 27/10/2022 08:43:48 **/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Biblioteca](
	[IdBibroteca] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdProxima] [int] NOT NULL,
	[IdLeyendo] [int] NOT NULL,
	[IdLeido] [int] NOT NULL,
	[IdMetas] [int] NOT NULL,
 CONSTRAINT [PK_Biblioteca] PRIMARY KEY CLUSTERED 
(
	[IdBibroteca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/** Object:  Table [dbo].[Calificaciones]    Script Date: 27/10/2022 08:43:48 **/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calificaciones](
	[IdCalificacion] [int] IDENTITY(1,1) NOT NULL,
	[IdLibro] [int] NOT NULL,
	[Comentarios] [varchar](200) NOT NULL,
	[Estrellas] [int] NOT NULL,
 CONSTRAINT [PK_Calificaciones] PRIMARY KEY CLUSTERED 
(
	[IdCalificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/** Object:  Table [dbo].[Leido]    Script Date: 27/10/2022 08:43:48 **/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leido](
	[IdLeido] [int] IDENTITY(1,1) NOT NULL,
	[IdLibro] [int] NOT NULL,
 CONSTRAINT [PK_Leido] PRIMARY KEY CLUSTERED 
(
	[IdLeido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/** Object:  Table [dbo].[Leyendo]    Script Date: 27/10/2022 08:43:48 **/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leyendo](
	[IdLeyendo] [int] IDENTITY(1,1) NOT NULL,
	[IdLibro] [int] NOT NULL,
 CONSTRAINT [PK_Leyendo] PRIMARY KEY CLUSTERED 
(
	[IdLeyendo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/** Object:  Table [dbo].[Libros]    Script Date: 27/10/2022 08:43:48 **/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libros](
	[IdLibro] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Portada] [varchar](200) NOT NULL,
	[Contraportada] [varchar](200) NOT NULL,
	[Autor] [varchar](50) NOT NULL,
	[CantPaginas] [int] NOT NULL,
	[Descripción] [varchar](max) NOT NULL,
	[TW] [varchar](max) NULL,
	[CantLibros] [int] NOT NULL,
	[Genero] [varchar](max) NOT NULL,
	[Categoria] [varchar](20) NOT NULL,
	[IdCalificacion] [int] NULL,
	[IdGuardar] [int] NULL,
	[Guardar] [bit] NOT NULL,
 CONSTRAINT [PK_Libros] PRIMARY KEY CLUSTERED 
(
	[IdLibro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/** Object:  Table [dbo].[Metas]    Script Date: 27/10/2022 08:43:48 **/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Metas](
	[IdMetas] [int] IDENTITY(1,1) NOT NULL,
	[CantTotalLibros] [int] NOT NULL,
	[ProcesoLibros] [int] NOT NULL,
	[IdLibros] [int] NOT NULL,
 CONSTRAINT [PK_Metas] PRIMARY KEY CLUSTERED 
(
	[IdMetas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/** Object:  Table [dbo].[Personajes]    Script Date: 27/10/2022 08:43:48 **/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personajes](
	[IdPersonaje] [int] IDENTITY(1,1) NOT NULL,
	[IdLibro] [int] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[FechaNacimiento] [datetime] NOT NULL,
	[Foto] [varchar](200) NOT NULL,
	[Descripcion] [varchar](max) NOT NULL,
	[Estado] [varchar](20) NOT NULL,
	[Genero] [varchar](10) NOT NULL,
	[Nacionalidad] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Personajes] PRIMARY KEY CLUSTERED 
(
	[IdPersonaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/** Object:  Table [dbo].[Proxima]    Script Date: 27/10/2022 08:43:48 **/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proxima](
	[IdProximo] [int] IDENTITY(1,1) NOT NULL,
	[IdLibro] [int] NOT NULL,
 CONSTRAINT [PK_Proxima] PRIMARY KEY CLUSTERED 
(
	[IdProximo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/** Object:  Table [dbo].[Usuario]    Script Date: 27/10/2022 08:43:48 **/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](20) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[NombreDeUsuario] [varchar](10) NOT NULL,
	[Contraseña] [varchar](max) NOT NULL,
	[Activo] [bit] NOT NULL,
	[Mail] [varchar](max) NOT NULL,
	[HoraDeCreación] [datetime] NOT NULL,
	[PermisoDeEditor] [bit] NOT NULL,
	[FotoDePerfil] [varchar](200) NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Libros] ON 

SET IDENTITY_INSERT [dbo].[Libros] OFF
GO
SET IDENTITY_INSERT [dbo].[Personajes] ON 

SET IDENTITY_INSERT [dbo].[Personajes] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IdUsuario], [Nombre], [Apellido], [NombreDeUsuario], [Contraseña], [Activo], [Mail], [HoraDeCreación], [PermisoDeEditor], [FotoDePerfil]) VALUES (1, N'Prueba', N'Prueba', N'Prueba', N'Prueba', 1, N'prueba@gmail.com', CAST(N'2022-10-17T00:00:00.000' AS DateTime), 0, NULL)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[Biblioteca]  WITH CHECK ADD  CONSTRAINT [FK_Biblioteca_Leido] FOREIGN KEY([IdLeido])
REFERENCES [dbo].[Leido] ([IdLeido])
GO
ALTER TABLE [dbo].[Biblioteca] CHECK CONSTRAINT [FK_Biblioteca_Leido]
GO
ALTER TABLE [dbo].[Biblioteca]  WITH CHECK ADD  CONSTRAINT [FK_Biblioteca_Leyendo] FOREIGN KEY([IdLeyendo])
REFERENCES [dbo].[Leyendo] ([IdLeyendo])
GO
ALTER TABLE [dbo].[Biblioteca] CHECK CONSTRAINT [FK_Biblioteca_Leyendo]
GO
ALTER TABLE [dbo].[Biblioteca]  WITH CHECK ADD  CONSTRAINT [FK_Biblioteca_Proxima] FOREIGN KEY([IdProxima])
REFERENCES [dbo].[Proxima] ([IdProximo])
GO
ALTER TABLE [dbo].[Biblioteca] CHECK CONSTRAINT [FK_Biblioteca_Proxima]
GO
ALTER TABLE [dbo].[Biblioteca]  WITH CHECK ADD  CONSTRAINT [FK_Biblioteca_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Biblioteca] CHECK CONSTRAINT [FK_Biblioteca_Usuario]
GO
ALTER TABLE [dbo].[Leido]  WITH CHECK ADD  CONSTRAINT [FK_Leido_Libros] FOREIGN KEY([IdLibro])
REFERENCES [dbo].[Libros] ([IdLibro])
GO
ALTER TABLE [dbo].[Leido] CHECK CONSTRAINT [FK_Leido_Libros]
GO
ALTER TABLE [dbo].[Leyendo]  WITH CHECK ADD  CONSTRAINT [FK_Leyendo_Libros] FOREIGN KEY([IdLibro])
REFERENCES [dbo].[Libros] ([IdLibro])
GO
ALTER TABLE [dbo].[Leyendo] CHECK CONSTRAINT [FK_Leyendo_Libros]
GO
ALTER TABLE [dbo].[Libros]  WITH CHECK ADD  CONSTRAINT [FK_Libros_Calificaciones] FOREIGN KEY([IdCalificacion])
REFERENCES [dbo].[Calificaciones] ([IdCalificacion])
GO
ALTER TABLE [dbo].[Libros] CHECK CONSTRAINT [FK_Libros_Calificaciones]
GO
ALTER TABLE [dbo].[Personajes]  WITH CHECK ADD  CONSTRAINT [FK_Personajes_Libros] FOREIGN KEY([IdLibro])
REFERENCES [dbo].[Libros] ([IdLibro])
GO
ALTER TABLE [dbo].[Personajes] CHECK CONSTRAINT [FK_Personajes_Libros]
GO
ALTER TABLE [dbo].[Proxima]  WITH CHECK ADD  CONSTRAINT [FK_Proxima_Libros] FOREIGN KEY([IdLibro])
REFERENCES [dbo].[Libros] ([IdLibro])
GO
ALTER TABLE [dbo].[Proxima] CHECK CONSTRAINT [FK_Proxima_Libros]
GO
/** Object:  StoredProcedure [dbo].[EliminarUnLibro]    Script Date: 27/10/2022 08:43:48 **/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarUnLibro]
	@IdLibro INT
AS
BEGIN
	DELETE FROM Calificaciones WHERE IdLibro = @IdLibro;
	DELETE FROM Leido WHERE IdLibro = @IdLibro;
	DELETE FROM Leyendo WHERE IdLibro = @IdLibro;
	DELETE FROM Proxima WHERE IdLibro = @IdLibro;
	DELETE FROM Libros WHERE IdLibro = @IdLibro;
END
GO
USE [master]
GO