@{
    ViewData["Title"] = "Agregar Libro";
}
<div class="text-center">
        <h3 class="display-4 diseñodeltituloprincipal2">Agregar Libro</h3>
    </div>
<div class="padding container-fluid">
    <h1 class="display-4 text-center">@ViewBag.NombreLibro</h1>
    <form method= "post" action = '@Url.Action("GuardarLibro","Home")' enctype="multipart/form-data">
        <div class="Agregar2" style="color: white;">
            <div style="margin-left: 2rem; margin-right: 2rem; margin-bottom: 2rem;">
                <input type = "hidden" name = "IdLibro" value="@ViewBag.ElId">
                <br><br>
                <label for="Nombre"><b>Nombre del libro:</b></label>
                <input type="text" name="Nombre" required>
                <br><br>
                <label for="Autor"><b>Nombre del Autor:</b></label>
                <input type="text" name="Autor" required>
                <br><br>
                <label for="CantPaginas"><b>Cantidad de páginas:</b></label>
                <input type="text" name="CantPaginas" required>
                <br><br>
                <label for="Descripción"><b>Descripción:</b></label>
                <input type="text" name="Descripción" required>
                <br><br>
                <label for="TW"><b>Trigger Warning:</b></label>
                <input type="text" name="TW" required>
                <br><br>
                <label for="CantLibros"><b>Cantidad de Libros:</b></label>
                <input type="text" name="CantLibros">
                <br><br>
                <label for="GeneroPrincipal"><b>Genero Principal:</b></label>
                <input type="text" name="GeneroPrincipal" required>
                <br><br>
                <label for="Generos"><b>Otros Generos:</b></label>
                <input type="text" name="Generos" required>
                <br><br>
                <label for="Categoria"><b>Categoria:</b></label>
                <input type="text" name="Categoria" required>
                <br><br>
                <label for="Portada"><b>Portada:</b></label>
                <input type="file" id="Portada" name="Portada" required>
                <br><br>
                <label for="Contraportada"><b>Contraportada:</b></label>
                <input type="file" id="Contraportada" name="Contraportada" required><br><br>

                <button type="submit" class="diseñodeagregar col-12 col-xl-2">Aceptar</button><br><br>
                <input type="button" value="Cancel" onclick="history.back()" class="Basta hireMe diseñodeeliminar col-12 col-xl-2"/><br>

            </div>
        </div>
    </form>
</div>