@{
    ViewData["Title"] = "Agregar Personaje";
}
<div class="padding container-fluid">
    <h1 class="display-4 dise침odeltituloprincipal2">@ViewBag.NombreLibro</h1>
    <form method= "post" action = '@Url.Action("GuardarPersonaje","Home")' enctype="multipart/form-data">
        <div class="Agregar2">
            <div style="margin-left: 2rem; margin-right: 2rem; margin-bottom: 2rem;">
                <input type = "hidden" name = "IdLibro" value="@ViewBag.ElId">
                <br><br>

                <label for="Nombre"><b>Nombre del personaje:</b></label>
                <input type="text" name="Nombre" required>
                <br><br>

                <label for="FechaNacimiento"><b>Fecha de nacimiento:</b></label>
                <input type="date" name="FechaNacimiento" required>
                <br><br>

                <label for="Genero"><b>Genero:</b></label>
                <input type="text" name="Genero" required>
                <br><br>

                <label for="Nacionalidad"><b>Nacionalidad:</b></label>
                <input type="text" name="Nacionalidad" required>
                <br><br>

                <label for="Estado" required><b>Estado actual:</b><br />
                    <div style="margin-left: 2rem;">
                        <input type="radio" name="Estado" value="Vivo" id="Vivo"/>
                        <label for="Vivo">Vivo</label><br />
                        <input type="radio" name="Estado" value="Muerto" id="Muerto"/>
                        <label for="Muerto">Muerto</label><br />
                        <input type="radio" name="Estado" value="Desconocido" id="Desconocido"/>
                        <label for="Desconocido">Desconocido</label><br />
                        <input type="radio" name="Estado" value="Inmortal" id="Inmortal"/>
                        <label for="Inmortal">Inmortal</label>
                    </div>
                </label> 
                <br><br>

                <label for="Foto"><b>Imagen/fanart:</b></label>
                <input type="file" id="Foto" name="Foto" required>
                <br><br>

                <label for="Descripcion"><b>Descripci칩n:</b></label>
                <input type="text" name="Descripcion" required>
                <br><br>

                <button type="submit" class="pos dise침odeagregar col-12 col-xl-2">Aceptar</button><br><br>
                <input type="button" value="Cancel" onclick="history.back()" class="Basta hireMe pos dise침odeeliminar col-12 col-xl-2"/><br>
            </div>
            
        </div>
    </form>
</div>