@{
    ViewData["Title"] = "Perfil";
}
    <div class="text padding2">
        <br>
        @if (BD.UsuarioLogueado==null)
        {
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CrearCuenta">Iniciar Sesión</a>
        } 
        else
        {
            <a class="imagenes" href="#" id="imgdeperfil">
            
            @if(BD.NombraImagen() == null)
            {
                <img src="/img/iconochico.png">
            }
            else
            {
             <img src="/img/@BD.NombraImagen()" style="width: 120px;" class="round">
            } 
            </a>
        }      
        <br><p class="display-4"><b> @BD.UsuarioLogueado.NombreDeUsuario</b></p>
        
        <a class="btn btn-secondary" href="/Home/ModificarUsuario" role="button">edit profile</a>
        
    </div>
  <section class="container-fluid">