@{
    ViewData["Title"] = "Perfil";
}
    <div class="text padding2">

        <img class="imagenes" src="" alt="">
        <h6 class="display-4"><b> @ViewBag.UsuarioLogueado.NombreDeUsurio</b></h6>
        
        <p>edit profile</p>
    </div>
  <section class="container-fluid">