@{
    ViewData["Title"] = "About us";
}
<h1 class="diseñodeltituloprincipal2">@ViewData["Title"]</h1>

<div>
    <br>

    <h4 class="texto">Trabajo de:</h4>
    <div class="media" style="margin-left: 5%; margin-right: 5%;border-style:double;padding:2%;background-color: rgba(206, 202, 202, 0.722);">

    <div class="container">
    <div class="row">
    <div class="col-6"><img src="\img\Cami.jpg" class="media-object" style="width:10rem"></div>
    <div class="col-6"><img src="\img\Sofi.jpg" class="media-object" style="width:10rem"></div>

    <div class="w-100"></div>
    <div class="col-6"><h4 class="media-heading">Camila Aylen Lopez</h4><p>Estudiante de 4IA</p></div>
    <div class="col-6"><h4 class="media-heading">Sofía Bonaldo Grasso</h4><p>Estudiante de 4IA</p></div>
  </div>
</div>

  </div>
</div>
          
